<div class="row col-md-10 mx-auto">
    <div class="card">
        <div class="card-header">
            Upload File
            <div class="card-body">
                <form action='/upload' enctype = "multipart/form-data" method = "POST" >
                    <div class="form-group">
                        <input type="file" name="file" class="form-control"/>
                    </div>
                    <button class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>