<h1> Routes </h1>

<div class="card md-4">
    <div class="card-header">
        <div class="card-body">
            {{#each maps}}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <a href="/maps/{{_id}}" target="_blank"> {{city}} </a>                 
                    </div>
                </div></br>
            </div>
            {{/each}}
        </div>
    </div>
</div>