<div class="portada">
    <h1><strong>MOVILIAD BOSCH</strong></h1><br/><br/>
    <h4>Encuentra la ruta ideal que te llevará a tu destino.</h4>
    
</div>

<div class="contacto">
    <div class="contacto-strong">
        <ul>
        <li><strong>Stay up to date</strong></li>
        <li><strong>Get in touch</strong></li>
        <li><strong>You are on</strong></li>
        <br/>
    </ul>
    </div>
    <div class = "social-media">Facebook, Twitter, youtube, lienkedin</div>
    <div class = "contact-support">
        <ul>
            <li>Contact us</li>
            <li>Support</li>
        </ul>
    </div>

    <div class = "you-are-on">
        <ul>
            <li>Capusle monitoring</li>
            <li><a href="https://www.google.com">Bosch Mexico</a></li>
        </ul>
    </div>
</div>