<footer>
    <ul>
        <li><strong> &copy; 2020 Robert Bosch Gmbh</strong></li>
        <li>Terms of use</li>
        <li>Legal notice</li>
        <li>Privacy statement</li>
        <li>Cookes</li>
        <li>Privacy settings</li>
    </ul>
</footer>