<div class="topbar">
    <img src='/img/bosch.png'>
</div>
<nav class="navbar">
    <div class="menu">
        <a href="/">Home</a>
        <a href="/about">About</a>


        {{#if user}}
        <a href="/routes">Rutas</a>
        <a href="#">Paradas</a>

        {{/if}}
    </div>

    <a href="/users/logout">
        <img alt="bosch logo" src="/img/my-brand-frame.svg" id="logout" >
    </a>
</nav>
<div class="currentbar"></div>