<style>
.topbar, .navbar, .currentbar{display:none;}
</style>
    
    <div class="login-card">
        <img src="/img/bosch.png" class="mx-auto d-block logo" />
        <form action="/users/login" method="POST">
            <input type="email" class="form-input-bosch" name="email" placeholder="Email" />
            <input type="password" class="form-input-bosch" name="password" placeholder="Password" />
            <button class="btn-bosch btn-text">Login</button>
        </form>
    </div>
