<div class="signup">
    <div class="signup-header">
        <img src="/img/my-brand-frame.svg" alt="user" />
        <strong>Datos Personales</strong>
    </div>
    <div class="formulario">
        <form action="/users/signup" method="POST">
            <label for="name">Nombre</label></br>
            <input type="text" name="name" placeholder="Name" value={{name}}></br></br>

            <label for="email">E-mail</label></br>
            <input type="email" name="email" placeholder="E-mail" value={{name}}></br></br>
            {{!-- <input type="text" class="form-control" name= "city" placeholder="City" value={{city}}> --}}
            {{!-- <div class="o">
                <h5>City</h5>
            </div>
            <select name="city" required="True">
                <option value="none" selected disabled hidden>
                    Select an Option
                </option>
                <option value="Aguascalientes">Aguascalientes</option>
                <option value="Toluca">Toluca</option>
            </select> --}}

            <label for="city">Ciudad</label></br>
            <input type="text" name="city" placeholder="Aguascalientes" value={{city}} ></br></br>
        
                <input type="password"  name="password" placeholder="Contrasena" /></br>
                <input type="password" name="confirm_password" placeholder="Confirmar Contrasena" /></br></br>
     
            {{!-- <button class="">Sign Up</button> --}}
            <input type="submit" class="btn-signup" value="Sign Up">
        </form>
    </div>
</div>